DJANGO_SECRET_KEY=django-insecure-5%mi_w9x5b+5(z9kw1fbew$sugno7+u=p%pi1$487b*uo2*#x$
DJANGO_DEBUG=true
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost

DJANGO_DB_NAME=db.sqlite3

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=true
EMAIL_HOST_USER=autoppt3@gmail.com
EMAIL_HOST_PASSWORD=fqhh wfyc rngk dxfp

OPENAI_API_KEY=
OPENAI_FILENAME_MODEL=gpt-3.5-turbo-1106
OPENAI_PRESENTATION_MODEL=gpt-4-turbo
PPT_RENDER_BACKEND=pptxgenjs
PPT_RENDERER_DIR=ppt-renderer
PPT_RENDER_OUTPUT_DIR=tmp/rendered-presentations

GOOGLE_CLIENT_SECRET_FILE=client_secret.json
GOOGLE_SERVICE_ACCOUNT_FILE=credentials.json
GOOGLE_TOKEN_FILE=token.json
