<!-- blog/templates/blog/slides_list.html -->

<h1>Slides List</h1>
<ul>
    {% for slide in slides %}
        <li>
            <h2>{{ slide.name }}</h2>
            <img src="{{ slide.thumbnail }}" alt="Thumbnail" width="100">

            <!-- 슬라이드 이미지들 추가 -->
            <div>
                <h4>슬라이드 이미지들:</h4>
                {% for image in slide.images %}
                    {% if image %}
                        <img src="{{ image }}" alt="Slide Image" style="width: 200px; margin-right: 10px;">
                    {% endif %}
                {% endfor %}
            </div>

            <!-- 다운로드 버튼 추가 -->
            <a href="{% url 'download_slide' slide.id %}" class="btn btn-primary">Download PPTX</a>
        </li>
    {% endfor %}
</ul>
