{% load static %}
<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8" />
        <link rel="stylesheet" href="{% static 'css/Home_globals.css' %}">
        <link rel="stylesheet" href="{% static 'css/Home_styleguide.css' %}">
        <link rel="stylesheet" href="{% static 'css/password_change_style.css' %}">
    </head>
    <body>
        <div class="main-forget-password">
            <div class="header">
                <div class="block">
                    <img class="logo-block" src="{% static 'css/img/LOGO_PT.png' %}" alt="로고">
                </div>
                <div class="text-wrap">비밀번호 재설정</div> <!-- ✅ 회원가입 → 비밀번호 재설정 -->
            </div>
            <form method="post">
                {% csrf_token %}
                <div class="form-forgot-password">
                    <div class="input-field">
                        <label class="label" for="id_email">Email</label>
                        <input type="email" name="email" id="id_email" class="input" placeholder="Enter your email" required>
                    </div>
                    <div class="button-group">
                        <button href="{% url 'home' %}" class="button">Cancel</button>
                        <div class="button-wrapper">
                            <button class="button-2" type="submit">Reset Password</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </body>
</html>